/* Font Druk Text Wide-Medium-Web. Type Today LLC*/
@font-face {font-family: 'DrukTextWideTT';font-style: normal; font-weight: 500;src: url("") format('woff2');}


/* Font Druk Text Wide-Bold-Web. Type Today LLC*/
@font-face {font-family: 'DrukTextWideTT';font-style: normal; font-weight: 700;src: url("") format('woff2');}


